@import "./custom-property";
@import "./utilities";

body {
  background-color: rgb(68, 53, 228);
}

.navegation {
  display: flex;
  gap: 40px;
  float: right;
}

.link {
  color: aqua;
}

.logotipo {
  float: left;
}
