.container {
  background-color: white;
  width: 800px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 30px 80px;
  text-align: center;
}

.detail-project {
  padding-bottom: 50px;

  .project-category {
    text-align: center;
    // margin: 0;
    font-size: var(--font-m);
    font-weight: var(--medium-font-weight);
    margin-bottom: 30px;
  }

  .description {
    font-size: var(--font-xs);
  }

  .box-project {
    button {
      border: 2px solid black;
      width: 370px;
      height: 43px;
      border-radius: 20px;
      margin-top: 15px;
      font-family: inherit;
      font-size: var(--font-xs);
      background-color: linear-gradient(to right, transparent, bisque);
    }

    .icon {
      font-size: 50px;
      margin: 20px;
    }

    .icon:hover {
      fill: lightpink;
    }

    .box-images img {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
