.menu-button {
  font-size: 50px;
  cursor: pointer;
}

.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: #333;
  padding: 30px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 30px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-mode .menu-content {
  background-color: #ebebeb;
}

.menu-content {
  // padding: 0;
  // margin: 0;

  .links-menu {
    padding: 20px;
    list-style: none;
  }

  .links-menu li {
    margin-bottom: 10px;
    line-height: 2rem;
    font-size: var(--font-xs);
    font-weight: var(--medium-font-weight);
  }
  ul.links-menu li a {
    text-decoration: none;
  }
}

.close-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  z-index: 1;
}
