.box-project {
  button {
    border: 2px solid black;
    width: 370px;
    height: 43px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: inherit;
    font-size: var(--font-xs);
  }

  button.bisque {
    background: linear-gradient(to right, transparent, bisque);
  }
  button.lightgreen {
    background: linear-gradient(to right, transparent, lightgreen);
  }
  button.lightgreen {
    background: linear-gradient(to right, transparent, lightgreen);
  }

  button.lightyellow {
    background: linear-gradient(to right, transparent, lightyellow);
  }

  button.lightcoral {
    background: linear-gradient(to right, transparent, lightcoral);
  }

  button.lightseagreen {
    background: linear-gradient(to right, transparent, lightseagreen);
  }

  button.pink {
    background: linear-gradient(to right, transparent, pink);
  }
}
