/* PROJECTS */

.hero-projects {
  --bg-linear: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  padding-bottom: 100px;

  .box-project {
    width: 408px;
    height: 469px;
    border-radius: 15px;
    margin: 1.5rem;
    //background-image: linear-gradient(20% black, 100%white);
    background-image: var(--bg-linear), url("/img/project-viro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 40px #3030304d;
  }
  .bg-viro {
    background-image: var(--bg-linear), url("/img/project-viro.jpg");
  }

  .bg-app {
    background-image: var(--bg-linear), url("/img/project-app.png");
  }

  .bg-calculator {
    background-image: var(--bg-linear), url("/img/project-calculator2.jpg");
  }

  .button-img {
    display: flex;
    justify-content: left;
    gap: 60px;
    margin-top: 20px;
  }
}
