.about-page {
  margin-left: 180px;
  margin-top: 60px;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: left;
  flex-direction: column;
  //background-color: pink;
  h1 {
    text-align: left;
  }

  .button-img {
    display: flex;

    .box-img {
      margin-left: 70px;
    }
  }

  .box {
    text-decoration: none;
    background: none;
    border: none;
    color: var(--black);
    font-family: "Unbounded", regular;
    font-size: var(--font-s);
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
  }

  .title {
    text-align: left;
    font-size: 50px;
    font-weight: 500;
  }

  .img-portrait {
    border-radius: 37% 63% 34% 66% / 52% 51% 49% 48%;
    border: 2px solid #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}

/* ABOUT */
// .about-page {
//     margin: 0 auto;
//     text-align: left;
//   }
