:root {
  /* PONER MARGENES */
  /* PONER GAP */
  /* PONER PADDINGS */

  /* FONT */
  --main-font: "Unbounded";
  --light-font-weight: 300;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;

  /* FONT-SIZE */
  --font-l: 12.5rem; /* 200px; */
  --font-m: 3rem; /* 50px */
  --font-s: 2rem; /*32px;*/
  --font-xs: 1.5rem; /* 24px */

  /* COLORS */
  --black: hsl (360, 8%, 10%);
  --white: hsl (0, 0%, 100%);
  --dark-color: var(--black);
  --light-color: var(--white);
  --text-color: #fff;
  --app-bg: linear-gradient(-45deg, #ffa3b1, #b5eaea, #ffa3b1, #b5eaea);
  --project-bg: #fff;
}

.dark-mode {
  --text-color: #fff;
  --app-bg: linear-gradient(-45deg, #2d2a2a, #193c3c, #4d3135, #2e3e3e);
  --project-bg: rgba(255, 255, 255, 0.5);
}

.light-mode {
  --app-bg: linear-gradient(-45deg, #ffa3b1, #b5eaea, #ffa3b1, #b5eaea);
  --text-color: black;
  --project-bg: #fff;
}

// /* DARK/LIGHT */
// $color-text-light: #333;
// $color-text-dark: #fff;

// .text-color-light {
//   color: $color-text-light;
// }

// .text-color-dark {
//   color: $color-text-dark;
// }

// $icon-size: 50px;
