@import "./custom-property";
@import "./utilities";

/* HOME */
body {
  background-color: white;
}

/* LIGHT AND DARK MODE
html {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--lightBg);
  --lightBtn: #fe016c;
  --lightBg: #fff;
  --lightColor: #232323;
}

html[data-theme="dark"] {
  background: var(--lightBg);
  --lightBtn: #ffbd07;
  --lightBg: #232323;
  --lightColor: #fff;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked + label {
  background: #ffbd07;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}
*/

.header {
  padding: 2rem;
}

.header-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-link {
  color: aqua;
  text-decoration: none;
  color: var(--black);
}

.logotipo-negro {
  display: flex;
  width: 50px;
  height: 50px;
}

/* hero-intro */
.home-page {
  margin: 0;
  min-height: calc(100vh - 64px);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  //background-color: pink;
}

.home-h2 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}

.home-h1 {
  font-weight: lighter;
  font-size: 32px;
}

/* BOTONES */
.home-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.home-button {
  text-decoration: none;
  background: none;
  border: none;
  color: var(--black);
  font-family: "Unbounded", regular;
  font-size: var(--font-s);
  font-weight: 500;
}

/* PROJECTS */
.box-project {
  width: 408px;
  height: 469px;
  border-radius: 15px;
  margin: 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.box-button {
  background-color: pink;
  border: 2px solid black;
  width: 370px;
  height: 43px;
  border-radius: 15px;
  margin-top: 15px;
}

.carrusel-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*
.carrusel-img {
  min-height: 582px;
  max-width: 488px;
  border-radius: 15px;
  overflow: hidden;
  flex-wrap: wrap;
}
*/

/* ABOUT */
.about-page {
  margin: 0 auto;
  text-align: left;
}

.title {
  text-align: left;
  font-size: 50px;
  font-weight: 500;
}

.img-portrait {
  border-radius: 50%;
  border: 2px solid #000;
}

.about-page {
  margin-left: 180px;
  margin-top: 60px;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: left;
  flex-direction: column;
  //background-color: pink;
}

.button-img {
  display: flex;
  justify-content: left;
  gap: 60px;
  margin-top: 20px;
}

/* CONTACT */

.contact-page {
  margin-left: 180px;
  margin-top: 60px;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: left;
  flex-direction: column;
  //background-color: pink;
}

.contact-text,
ul,
li,
p {
  font-size: 32px;
  list-style: none;
}

.contact-mail,
.contact-RRSS {
  display: flex;
  gap: 70px;
}
